<h3>Application Status:<%= @application.status %></h3>
      <p>Applicant Name: <%= @application.name %></p>
      <p>Applicant Address: <%= @application.street_address %> <%=@application.city %>, <%= @application.state%> <%= @application.zip%> </p>
      <p>Application Justification: <%= @application.description %></p>
     